* {
  /* Brand foundation */
  --brand-hue: 356;
  --brand-saturation: 84%;
  --brand-lightness: 24%;

  /* light */
  --brand-light: hsl(
    var(--brand-hue) var(--brand-saturation) var(--brand-lightness)
  );
  --text-strong-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
  --text-weak-light: hsl(var(--brand-hue) 10% 30%);
  --surface1-light: hsl(var(--brand-hue) 15% 99%);
  --surface2-light: hsl(var(--brand-hue) 10% 99%);
  --surface3-light: hsl(var(--brand-hue) 10% 92%);
  --surface4-light: hsl(var(--brand-hue) 10% 85%);
  --surface-shadow-light: var(--brand-hue) 10% 20%;
  --shadow-strength-light: 0.02;

  /* dark */
  --brand-dark: hsl(var(--brand-hue) 90% var(--brand-lightness));
  --text-strong-dark: hsl(var(--brand-hue) 10% 95%);
  --text-weak-dark: hsl(var(--brand-hue) 5% 85%);

  --surface1-dark: hsl(var(--brand-hue) 10% 10%);
  --surface2-dark: hsl(var(--brand-hue) 10% 15%);
  --surface3-dark: hsl(var(--brand-hue) 5% 20%);
  --surface4-dark: hsl(var(--brand-hue) 5% 25%);
  --surface-shadow-dark: var(--brand-hue) 50% 3%;
  --shadow-strength-dark: 0.8;
}

:root {
  color-scheme: light;

  --primary: 356, 84%, 24%;
  --white: 60, 14%, 96%;
  --warning: 42, 69%, 33%;
  --black: 0, 0%, 0%;
  --success: 162, 90%, 25%;
  --error: 0, 56%, 50%;

  --brand: var(--brand-light);
  --text-strong: var(--text-strong-light);
  --text-weak: var(--text-weak-light);
  --surface-1: var(--surface1-light);

  --stroke-strong: light-dark(
    hsla(var(--black), 0.65),
    hsla(var(--white)),
    0.6
  );
  --stroke-weak: light-dark(hslaa(var(--black), 0.1), hsla(var(--white)), 0.12);
  --fill: light-dark(hsla(var(--black), 0.04), hsla(var(--white)), 0.06);

  --background: light-dark(hsla(var(--white), 1), hsla(var(--black), 1));
  --base: light-dark(hsla(var(--white)), hsla(var(--black)));
  --raised: light-dark(hsla(var(--white)), hsla(0, 0, 15));
  --overlay: light-dark(hsla(var(--white)), hsla(0, 0, 20));
  --error: light-dark(hsla(var(--error)), hsla(0, 56, 50));
  --success: light-dark(hsla(var(var(--success))), hsla(var(162, 41, 62)));

  --raised-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  --overlay-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-m: 1.5rem;
  --space-l: 2rem;
  --space-xl: 3rem;
  --space-xxl: 5rem;
}
@media (perfers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --text-strong: var(--text-strong-dark);
    --text-weak: var(--text-weak-dark);
    --surface1: var(--surface1-dark);
  }
}

[color-scheme="light"] {
  color-scheme: light;

  --brand: var(--brand-light);
  --text-strong: var(--text-strong-light);
  --text-weak: var(--text-weak-light);
  --surface-1: var(--surface1-light);

  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

[color-scheme="dark"] {
  color-scheme: dark;

  --brand: var(--brand-dark);
  --text-strong: var(--text-strong-dark);
  --text-weak: var(--text-weak-dark);
  --surface-1: var(--surface1-dark);

  --surface2: var(--surface2-dark);
  --surface3: var(--surface3-dark);
  --surface4: var(--surface4-dark);
  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
}

img.full-width {
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
}

.flow > * + * {
  --flow-spacing: var(--space-xl);
  margin-top: var(--flow-spacing, 1em);
}

@media (min-width: 700px) {
  .flow > * + * {
    --flow-spacing: var(--space-xxl);
  }
}

html {
}
body {
  font-family: "Inter";
  background: var(--surface-1);
}

.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 1000px;
  --breakout-max-width: 1200px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(
      var(--padding-inline),
      1fr
    )
    [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

.btn {
  padding: var(--space-xs) var(--space-s);
  font-weight: 600;
  border-radius: var(--space-xs);
  white-space: nowrap;
}
.primary {
  color: var(--text-strong-dark);
  background: var(--brand);
}

.secondary {
  color: var(--text-strong);
  border: 1px solid var(--text-strong);
  background-color: none;
}
