@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    scroll-behavior: smooth;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

:root {
  --color-brand-50: oklch(94.81% 0.023 14.26);
  --color-brand-100: oklch(88.39% 0.054 12.47);
  --color-brand-200: oklch(77.73% 0.113 15.89);
  --color-brand-300: oklch(68.28% 0.174 18.7);
  --color-brand-400: oklch(62.13% 0.217 23.28);
  --color-brand-500: oklch(55.84% 0.22 26.5);
  --color-brand-600: oklch(45.8% 0.178 26.02);
  --color-brand-700: oklch(35.17% 0.134 25.33);
  --color-brand-800: oklch(26.77% 0.098 24.41);
  --color-brand-900: oklch(17.51% 0.06 19.12);
  --color-brand-950: oklch(12.82% 0.038 18.14);

  --ui-color-secondary-50: oklch(1 0 0);
  --ui-color-secondary-100: oklch(97.31% 0.004 91.45);
  --ui-color-secondary-200: oklch(95.15% 0.007 97.35);
  --ui-color-secondary-300: oklch(92.43% 0.011 95.17);
  --ui-color-secondary-400: oklch(90.32% 0.014 92.99);
  --ui-color-secondary-500: oklch(87.57% 0.018 92.7);
  --ui-color-secondary-600: oklch(76.03% 0.036 92.33);
  --ui-color-secondary-700: oklch(63.07% 0.051 92.7);
  --ui-color-secondary-800: oklch(47.8% 0.039 94.31);
  --ui-color-secondary-900: oklch(29.65% 0.021 95.69);
  --ui-color-secondary-950: oklch(20.07% 0.01 88.81);

  --breakpoint-xs: 30rem;

  --container-8xl: 100rem;
}

:root {
  interpolate-size: allow-keywords;
  overscroll-behavior: contain;

  --ui-primary: var(--color-brand-700);

  --ui-header-height: --spacing(16);

  --ui-bg: var(--ui-color-secondary-500);
  --ui-bg-muted: var(--ui-color-secondary-100);
  --ui-bg-elevated: var(--ui-color-secondary-50);
  --ui-bg-accented: var(--ui-color-secondary-200);
  --ui-bg-inverted: var(--ui-color-secondary-900);

  --easing: cubic-bezier(0.5, 0, 0.5, 1);

  --ui-container: var(--container-8xl);
}

.dark {
  --ui-primary: var(--color-brand-600);

  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: var(--ui-color-neutral-900);
  --ui-bg-elevated: var(--ui-color-neutral-800);
  --ui-bg-accented: var(--ui-color-neutral-700);
  --ui-bg-inverted: var(--color-white);
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  overscroll-behavior: contain;
}

body {
  overscroll-behavior: contain;
  min-block-size: 100vh;
  line-height: 1.6;
}

@layer layout {
  .flow > * + * {
    margin-block-start: var(--flow-space, 2rem);
  }

  .wrapper {
    --wrapper-max-width: 1200px;
    --wrapper-padding: 1rem;

    max-width: var(--wrapper-max-width);
    margin-inline: auto;
    padding-inline: var(--wrapper-padding);

    /* helps to match the Figma file */
    box-sizing: content-box;
  }

  .wrapper[data-width="narrow"] {
    --wrapper-max-width: 720px;
  }

  .wrapper[data-width="wide"] {
    --wrapper-max-width: 1330px;
  }

  .wrapper[data-direction="vertical"] {
    display: grid;
  }

  .wrapper[data-direction="horizontal"] {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;

    @media (width>600px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  .section {
    background-color: var(--ui-bg-muted);
    border-radius: var(--radius-4xl);

    gap: calc(var(--spacing) * 6);
    padding-inline: calc(var(--spacing) * 4);
    padding-bottom: calc(var(--spacing) * 8);
    margin-top: calc(var(--spacing) * 6);
    padding-top: calc(var(--spacing) * 20);

    @media (width >= 64rem) {
      padding-inline: calc(var(--spacing) * 8);
    }
  }
}
